In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
rating_data = pd.read_csv("data/animelist.csv")

In [9]:
rating_data

,Unnamed: 0,user_id,anime_id,rating,watching_status,watched_episodes
0,213,2,24833,0,1,0
1,214,2,235,10,1,100
2,215,2,36721,0,1,1
3,216,2,40956,0,1,0
4,217,2,31933,0,1,3
...,...,...,...,...,...,...
6529912,9999995,32600,6,0,3,2
6529913,9999996,32600,2129,4,3,2
6529914,9999997,32600,34902,0,3,4
6529915,9999998,32600,37722,0,3,1
6529916,9999999,32600,36510,0,3,3